.hover-effect {
  transition: background-color 0.3s ease; /* Transición suave */
}

.hover-effect:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Color más suave para el hover */
}

.active-song {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Color más suave para el estado activo */
}

.fa-solid:active {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.fa-solid {
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s; 
}

.repeat-mode-button {
  color: #ffffff;
  font-size: 40px;
}

.repeat-mode-active {
  text-shadow: 0 0 10px #ffffff; /* Sombra blanca alrededor del texto */
}